@model Nop.Plugin.Payments.Stripe.Models.PaymentInfoModel

@{
    Layout = "";
}
<form id="payment-form">
    <label for="card-element">
        Credit or debit card
    </label>
    <div id="card-element">
        <!-- Elements will create input elements here -->
    </div>

    <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert"></div>
</form>

<script>
    $(document).ready(function () {
        $.getScript('https://js.stripe.com/v3/', function () {
            var clientSecret = '@Model.ClientSecret';
            var publisherKey = '@Model.PublishableKey';
            var stripe = Stripe(publisherKey);
            var elements = stripe.elements();

            var style = {
                base: {
                    color: "#32325d",
                }
            };

            var card = elements.create("card", { style: style });
            card.mount("#card-element");

            card.on('change', ({ error }) => {
                const displayError = document.getElementById('card-errors');
                if (error) {
                    displayError.textContent = error.message;
                } else {
                    displayError.textContent = '';
                }
            });

            $('input.payment-info-next-step-button').on('click', function (data) {
                event.preventDefault();
                stripe.confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: card,
                        billing_details: {
                            name: 'Surya Bhagavan'
                        }
                    }
                }).then(function (result) {
                    if (result.error) {
                        console.log(result.error.message);
                    } else {
                        if (result.paymentIntent.status === 'succeeded') {
                            $.ajax({
                                cache: false,
                                url: 'Plugins/PaymentStripe/Return',
                                data: $({}).serialize(),
                                type: "POST",
                            });
                        }
                    }
                });
            });
        });
    });
</script>